body {
  background: #faf7e8;
  /* url(./imgs/beach.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  color: #333;
  margin: 0;
}

h1 a {
  color: inherit;
}

.desc {
  font-size: 20px;
  margin: 10px 0;
}

.header {
  overflow: hidden;
  background: linear-gradient(to bottom, #000000cc, #00000000);
  color: #fff;
  padding: 0 20px;
}

.blur {
  display: flex;
  position: relative;
  margin: 40px;
  width: 600px;
  /* height: 200px; */
  border-radius: 30px;
  border: .5px solid rgba(255, 255, 255, .5);
  border-right: 0;
  border-bottom: 0;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(6px);
  /* overflow: hidden; */
  box-shadow: 0 0 4px #0000004d;
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: all 0.4s;
}

.blur:hover {
  background: rgba(255, 255, 255, .4);
}

.blur img {
  position: relative;
  display: block;
  width: 270px;
  height: 260px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  /* border: 10px rgba(255, 255, 255, .2) solid; */
  /* left: -20px; */
  /* top: -20px; */
  object-fit: none;
  transition: all 0.4s;
  transform-origin: 0 100%;
  margin-right: 10px;
}

.blur:hover img {
  transform: rotate(-6deg) translateY(-20px);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.content h2 {
  margin: 0;

}

.content .date {
  margin-top: auto;
  font-style: italic;
  margin-left: auto;
  opacity: 0.6;
}

.main {
  display: flex;
  flex-wrap: wrap;
}



@media (max-width: 564px) {
  .blur {
    flex-wrap: wrap;
  }

  .blur img {
    margin-bottom: 20px;
  }

  .content {
    padding: 0;
  }
}